body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4fef9;
    color: #333;
}

/* phần danh mục sản phẩm  */
#category-filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

#category-filter button {
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#category-filter button:hover {
    background: #ca0dab;
}


/* phần danh sách sản phẩm */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    color: #555;
}